<li class="span4">
  <%= link_to(image_tag(minify_img_path(attachment_image.id)), attachment_path(attachment_image.id), :rel => "lightbox", :class => "thumbnail", :title => attachment_name(attachment_image)) %>
</li>
