<li>
<%= link_to attachment_name(attachment_noimage), attachment_path(attachment_noimage.id), target: 'new' %>
<%= link_to(attachment_noimage, confirm: 'Уверены?', method: :delete) do %>
  <i class="icon-remove" title="Удалить"></i>
<% end %>
</li>